@font-face {
    font-family: myCustomFont;
    src: url(../Fonts/Bangers-Regular.ttf);
}

* {
    cursor: default;
}

@media screen and (max-width: 600px) {
    .madlib-outline-selection {
        flex-direction: column;
    }
}

body {
    font-family: myCustomFont;
    letter-spacing: .1rem;
    background-image: linear-gradient(158deg, rgb(254, 89, 89) 54%, lightgreen 55%, #0466C8 56%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 12rem;
    background-image: linear-gradient(#0466C8 60%, #203c5d);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 1rem 3rem 0 black;
    transition: padding-bottom 1s, border-radius 1s;
}

.active {
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    padding-bottom: 40rem;
}

.main-header>nav>a {
    transition: color .3s;
}

.main-header>nav>a:hover {
    color: #002855;
}

.header-nav-left {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: rgb(254, 89, 89);
    font-size: 1.4rem;
}

.header-title {
    flex: 1;
    color: lightgreen;
    max-width: 20rem;
    min-width: 30rem;
    text-align: center;
    font-size: 4rem;
    cursor: default;
}

.header-nav-right {
    flex: 1;
    color: rgb(254, 89, 89);
    font-size: 1.4rem;
}

a:visited {
    color: inherit;
}

.header-arrow {
    position: absolute;
    max-height: fit-content;
    bottom: 0rem;
    top: 9.5rem;
    font-size: 1.5rem;
    line-height: .5;
    text-align: center;
    cursor: pointer;
    color: #002855;
    z-index: 1;
    transition: top 1s, color .3s;
}

.header-arrow:hover {
    color: rgb(254, 89, 89);
}

.header-arrow-active {
    top: 49.5rem;
}

.madlib-guy1 {
    margin-left: 15rem;
    max-width: 8rem;
    flex: 1;
    border-radius: 5rem;
    rotate: 30deg;
}

.madlib-guy2 {
    margin-right: 15rem;
    max-width: 8rem;
    flex: 1;
    rotate: -20deg;
    border-radius: 5rem;
}

.header-dropdown-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1.2rem;
    width: 100%;
    top: 18rem;
    height: 20rem;
    z-index: 0;
}

.header-title-two {
    font-size: 3rem;
    color: #002855;
    opacity: 0;
    transition: opacity .3s;
}

.madlib-outline-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 0s;
}

.yikes {
    opacity: 1;
}

.madlib-outline-selection-buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.madlib-outline-selection-buttons>button {
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: myCustomFont;
    letter-spacing: .1rem;
    min-height: 4rem;
    min-width: 18rem;
    color: #002855;
    background-color: rgb(254, 89, 89);
    cursor: pointer;
    transition: color 1.2s cubic-bezier(.19, 1, .22, 1), background-color 1.2s cubic-bezier(.19, 1, .22, 1);
}

.madlib-outline-selection-buttons>button:hover {
    background-color: lightgreen;
    color: rgb(254, 89, 89);
}

@keyframes border-fun {
    0% {
        border-color: #002855;
    }

    25% {
        border-color: lightgreen;
    }

    50% {
        border-color: rgb(254, 89, 89);
    }

    75% {
        border-color: lightgreen;
    }
}

.border {
    animation-name: border-fun;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.madlib-preview {
    background-color: #002855;
    box-shadow: .5rem .5rem .8rem 0 #002855;
    padding: 1.2rem;
    padding-top: .5rem;
    color: aliceblue;
    text-align: center;
    line-height: 1.46;
    height: 33rem;
    width: 35rem;
    font-size: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: .5rem;
    opacity: 0;
    scale: 0;
    transition: scale 1s;
}

.madlib-preview::first-line {
    text-decoration: underline;
    font-size: 1.3rem;
    color: #2d87e2;
}

.madlib-outline-selection>div>h3 {
    font-size: 2.5rem;
    color: lightgreen;
    padding: 1rem;
    border: #002855 .5rem dotted;
    border-radius: 2rem;
}

.madlib-outline-selection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}