@media screen and (max-width: 1690px) {
    body {
        min-height: 70rem;
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 47%, lightgreen 48%, #0466C8 49%);
    }

    .semi-black-background {
        height: 70rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .semi-black-background>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: auto;
        padding-top: 2rem;
        padding-right: 0;
    }

    .save-form {
        width: max-content;
        left: calc(50% - 11rem);
        top: 6.5rem;
    }

    .completed-madlib-preview {
        right: 11.5rem;
        top: 9rem;
    }
}

@media screen and (max-width: 1510px) {
    body {
        min-height: 95rem;
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 37%, lightgreen 38%, #0466C8 39%);
    }

    .madlib-outline-selection {
        flex-direction: column;
    }

    .semi-black-background {
        height: 95rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .semi-black-background>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: auto;
        padding-top: 2rem;
        padding-right: 0;
    }

    .header-dropdown-text {
        top: 37.5rem;
    }

    .header-title-two {
        font-size: 3rem;
        text-align: center;
    }

    .active {
        padding-bottom: 80rem;
    }

    .header-arrow-active {
        top: 89.5rem;
    }

    .madlib-preview-movement {
        top: -26.2rem;
        right: 0;
    }

    .madlib-main-screen {
        width: 60rem;
    }

    .completed-madlib-preview {
        right: 0rem;
        top: -22rem;
    }
}

@media screen and (max-width: 930px) {
    .header-nav-left {
        display: none;
    }

    .header-nav-right {
        position: absolute;
        top: .7rem;
        display: flex;
        justify-content: center;
    }

    .madlib-guy1 {
        position: absolute;
        width: 4rem;
        top: .25rem;
        right: 65%;
    }

    .madlib-guy2 {
        width: 4rem;
        position: absolute;
        top: .25rem;
        left: 65%;
    }

    .semi-black-background>div {
        padding-top: 2rem;
    }

    .completed-madlib-preview {
        transform: scale(1);
        top: -29rem;
    }

    .madlib-main-screen {
        -webkit-transform: translate(-77%, -77%);
        transform: translate(-59%, -59%);
        top: 55.25rem;
        scale: .85;
    }
}

@media screen and (max-width: 675px) {
    body {
        min-height: 85rem;
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 34%, lightgreen 35%, #0466C8 36%);
    }

    .semi-black-background {
        height: 85rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .save-form {
        top: 5.75rem;
        transform: scale(.8);
    }

    .madlib-guy1 {
        width: 3rem;
        right: 70%;
        top: .7rem;
    }

    .madlib-guy2 {
        width: 3rem;
        left: 70%;
        top: .7rem;
    }

    .header-title {
        max-width: 0;
        min-width: 100%;
        font-size: 3.5rem;
    }

    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 12rem;
    }

    .active {
        padding-bottom: 68rem;
    }

    .header-arrow-active {
        top: 77.5rem;
    }

    @keyframes preview-magic {
        30% {
            scale: 1;
            z-index: 1;
            box-shadow: .5rem .5rem .8rem 0 #002855;
        }

        100% {
            scale: 1;
            z-index: -1;
        }
    }

    @keyframes preview-magic-reverse {
        0% {
            scale: 1;
            z-index: 1;
        }

        40% {
            scale: 1;
            box-shadow: .5rem .5rem .8rem 0 #002855;
        }
    }

    .completed-madlib-preview {
        background-color: lightgreen;
        color: #002855;
        transform: none;
        scale: 1 !important;
        right: 0rem;
        top: -22rem;
    }

    .madlib-preview-movement {
        top: -18rem;
        right: 0;
    }

    .header-dropdown-text {
        top: 31rem;
    }

    .header-title-two {
        scale: .7;
        min-width: 35rem;
        margin-bottom: -6rem;
    }

    .selectors {
        scale: .65;
        margin-bottom: -10.5rem;
    }

    .madlib-preview {
        transform: scale(.8);
        width: 26.5rem;
        height: 40rem;
        padding-bottom: 2rem;
        margin-bottom: -6rem;
    }

    .get-madlibing {
        scale: .7;
    }

    .madlib-main-screen {
        -webkit-transform: translate(-77%, -77%);
        transform: translate(-77%, -77%);
        width: 100%;
        top: 50.5rem;
        left: -30rem;
        scale: .65;
    }

    .madlib-main-screen>form>input {
        -webkit-appearance: none;
    }

    .madlib-main-screen>form {
        display: flex;
        align-items: center;
        gap: .3rem;
    }
}