@media screen and (max-width: 1445px) {
    body {
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 47%, lightgreen 48%, #0466C8 49%);
    }

    .header-nav-right {
        text-align: center;
    }
}

@media screen and (max-width: 1325px) {
    .madlib-preview {
        display: none;
    }

    .show-madlib {
        display: block;
    }
}

@media screen and (max-width: 930px) {
    body {
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 37%, lightgreen 38%, #0466C8 39%);
    }

    .header-nav-left {
        display: none;
    }

    .header-nav-right {
        position: absolute;
        top: .7rem;
        display: flex;
        justify-content: center;
    }

    .madlib-guy1 {
        position: absolute;
        width: 4rem;
        top: .25rem;
        right: 65%;
    }

    .madlib-guy2 {
        width: 4rem;
        position: absolute;
        top: .25rem;
        left: 65%;
    }

    .semi-black-background>div {
        gap: 0rem;
    }

    .completed-madlib-preview {
        scale: 1;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    body {
        background-image: linear-gradient(158deg, rgb(254, 89, 89) 29.25%, lightgreen 30.25%, #0466C8 31.25%);
    }

    .semi-black-background>div {
        height: calc(100% + 18rem);
        margin-top: 2rem;
    }

    .start-over {
        min-height: 50px;
        max-height: 50px;
        max-width: 50px;
        min-width: 50px;
        font-size: 1.5rem;
    }

    .start-over:hover {
        min-height: 50px;
        max-height: 50px;
        max-width: 50px;
        min-width: 50px;
        font-size: 1.5rem;
    }

    .madlib-guy1 {
        width: 3rem;
        right: 70%;
        top: .7rem;
    }

    .madlib-guy2 {
        width: 3rem;
        left: 70%;
        top: .7rem;
    }

    .header-title {
        max-width: 0;
        min-width: 100%;
        font-size: 3.5rem;
    }

    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 12rem;
    }

    .completed-madlib-preview {
        min-width: 0rem;
        max-width: 21.5rem;
        font-size: .87rem;
        z-index: 3;
    }

    .madlib-info {
        scale: .8;
    }

    .header-dropdown-text {
        gap: 0rem;
        width: 100%;
        top: 6rem;
    }

    .madlib-outline-selection {
        height: 13rem;
        gap: 0rem;
        margin: 0rem;
        width: 10rem;
    }

    .active {
        padding-bottom: 20.5rem;
    }

    .header-arrow {
        position: absolute;
        max-height: 10rem;
        width: 18rem;
        line-height: 1.25rem;
        top: 7.75rem;
        font-size: 1.5rem;
    }

    .header-arrow-active {
        top: 28.25rem;
    }

    .header-title-two {
        scale: .7;
        min-width: 35rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .selectors {
        scale: .65;
    }

    .footer-links {
        margin-bottom: 1rem;
        margin-right: 0rem;
        scale: .8;
    }
}